/*body{
    font:14px Arial,Verdana,sans-serif;
    background:lightgrey;
}*/

/*body{
    background: #d8e9f1;
    font-family: Verdana,sana-serif;
}*/


/*.wrapper1{
    width: 800px;
    border: 2px solid #888;
    margin: 50px auto 0;
    padding: 0 15px;
    font-family: Verdana,sana-serif;
    background-color: #d8e9f1;*/
    /*background-color: red;*/
/*}*/

body{
    font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;/*960.gs*/
    background: #ececec;
}
.col{
    width: 50%;
    float: left;
    background: #ccc;
}
fieldset{
    border: 1px solid #474747;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-bottom: 10px;
     background: #ccc;
}

/*.onePass{
    background: #ccc;
}*/

legend, .fio{
    background: #474747;
    color: #fff;
    padding:3px 15px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-weight:bold;
}

.fio{
    float: right;
}

#wrap{
    width: 820px;
    padding: 20px;
    margin: 20px auto;
    background: #fff;
    border: 1px solid #ccc;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: #ececec;
}
p{
    padding: 2px;
}
label{
    display: inline-block;
    width: 100px;
    font-weight: bold;
}
label:after{
    content: ":";
}
input{
    display: inline-block;
    width: 240px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
thead td{
    text-align: center;
    font-weight:bold;
}
td + td > input{
    width: 60px;
}
button{
    border: 1px solid #474747;
    background: #ccc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 150%;
}
button:hover{
    background: #ececec;
    cursor: pointer;
}

.error {
    color: #bc0000;
    font: bold 14px "Open Sans Condensed",Arial,Verdana,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 14px;
    line-height: normal;
    font-family: "Open Sans Condensed", Arial, Verdana, sans-serif;
}

.attantion{
    background: #bc0000;
     padding:3px 15px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    /*color:  #474747;*/
    color:  #fff;
    font: bold 14px "Open Sans Condensed",Arial,Verdana,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 14px;
    line-height: normal;
    font-family: "Open Sans Condensed", Arial, Verdana, sans-serif;
}

.main_menu a{
    color:#eee;
    text-decoration: none;

     border: 1px solid #474747;
    background: #ccc;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    padding: 5px;
    margin: 3px;
    font-weight: bold;
    /*font-size: 90%;*/
    text-shadow: 1px 1px 1px #000;

}

.main_menu a:hover{
     background: #eee;
     color:#000;
     text-shadow: 1px 1px 1px #fff;
}

/*form{
    width: 500px;
    height: 200px;
    margin: 200px 300px;
    font-size: 15px;
}
label{
    width: 170px;
    display: inline-block;
    cursor: pointer;
}
input{
    width: 250px;
}
textarea{
    width: 400px;
    height: 100px;
}
textarea, textarea#Content{
    width: 150px;
    height: 50px;
}
.doc_name, .doc_seriy, .doc_num, .master{
    font-size: 12px;
}*/
